<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>first day practice</title>
    <link rel="icon"  href="unnamed (1).jpg">
</head>
<body>
    
<body style="background-color: rgb(199, 244, 205) ;">
    
    <h1 style="background-color: rgb(150, 201, 201); text-align: center;">Registration Form</h1>

    </pre>

 
    <form action="./result.html" method="POST">

    
        <label  for="name">First Name</label><br>
        <input type="text" name="name" id="name" >

        <br></BR>

        <label for="Password">password</label><br>
        <input type="password" name="password" id="password">

       <br><br>

       <input type="submit" value="submit"> 
        <input type="reset" value="clear"> <br>
    </form>
   

</body>
</html>